{% extends "admin/main.html" %}
{% block body %}

	<h3>Creaci&oacute;n de men&uacute;</h3>
	<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="nombrePlato" class="col-sm-3 control-label">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="nombrePlato" id="nombrePlato" placeholder="Este es el nombre del plato" value="">
                </div>
            </div>
            <div class="form-group">
                <label for="ingredientes" class="col-sm-3 control-label">Ingredientes</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="ingredientes" id="ingredientes" placeholder="Lo que lleva el plato" value="">
                </div>
            </div>
            
            <div class="form-group">
			  
			  <label class="col-sm-3 control-label" for="tipoPlato">Tipo de comida</label>
			  <div class="col-sm-6">
			  <select class="form-control" id="tipoPlato" name="tipoPlato">
			    <option value="Mexicana">Mexicana</option>
			   	<option value="Italiana">Italiana</option>
			    <option value="India">India</option>
			    <option value="China">China</option>
			    <option value="Japonesa">Japonesa</option>
			    <option value="Espa&ntilde;ola">Espa&ntilde;ola</option>
			    <option value="Libanesa">Libanesa</option>
			    <option value="Tailandesa">Tailandesa</option>
			    <option value="Americana">Americana</option>
			  </select>
			 
			  </div>
			</div>

            <div class="form-group">
                <label for="precio" class="col-sm-3 control-label">Precio del plato</label>
                <div class="col-sm-6">
                    <input step="0.01" type="number" class="form-control" name="precio" id="precio" placeholder="Precio en euros" value="">
                </div>
            </div>
            
            {% if session['rol'] == 'administrador'%}
            <div class="form-group">
				  <label class="col-sm-3 control-label" for="idRestaurante">Restaurante</label>
				  <div class="col-sm-6">
					  <select class="form-control" id="idRestaurante" name="idRestaurante">
			            {% for key, value in datos2.items() %}
								    <option value="{{key}}">{{value['Nombre']}}</option>
			            {% endfor %}
            		  </select>
				  </div>
			</div>
			{% endif%}
			
            <div class="form-group">
	              		<label class="control-label col-sm-3" for="fotoPlato">Foto del Plato</label>
	              		<div class="col-sm-6">
	              		<input type="hidden" name="entorno" value="" id="varEntorno">
					    <input type="file" name="fotoPlato" class="custom-file-input" id="fotoPlato">
					    </div>
			</div>
            <div class="form-group text-center">
                <button type="submit" value="submit" class="btn btn-warning">Crear</button>
                <!-- <a class="btn btn-danger" href ="/delete">Eliminar</a> -->
            </div>
        </form>
    </div>
</div>

{% endblock %}
{% block javascript%}
    $("#varEntorno").val(window.location.hostname);
{% endblock javascript%}