{% extends "admin/main.html" %}
{% block body %}
	{% if datos is not none %}
	<h3>Tabla de Usuarios</h3>
	  <table class="table">
	    <thead>
	      <tr>
	        <th>Nombre</th>
	        <th>Correo elect.</th>
	        <th>Direcci&oacute;n</th>
	        <th>Tel&eacute;fono</th>
	        <th>Rol en la APP</th>
	        
	        <th>Acciones</th>
	      </tr>
	    </thead>
	    <tbody>
	    {% for key, value in datos.items() %}
	      <tr>
	        <td>{{value['Nombre']}}</td>
	        <td>{{value['correo']}}</td>
	        <td>{{value['direccion']}}</td>
	        <td>{{value['telefono']}}</td>
	    	<td>{{value['rol']}}</td>
	        <td>
	      

	        	<a href="/editarUsuario/{{ key }}"><i class="fas fa-edit"></i></a>
	        {% if value['rol'] != "administrador" %}

	        	<a href="/borrarUsuario/{{ key }}"><i class="fas fa-trash"></i></a>
	        {% endif %}
	        </td>
	        
	     
	      </tr>
	      </tr>
	     {%endfor%}
	    </tbody>
	  </table>
	  {%else%}
	  	<h3>No hay Usuarios creados</h3>
	  {% endif %}


{% endblock %}
