{% extends "admin/main.html" %}
{% block body %}

	<h3>Tabla de muestra</h3>
	  <table class="table">
	    <thead>
	      <tr>
	        <th>Nombre</th>
	        <th>Acciones</th>
	      </tr>
	    </thead>
	    <tbody>
	    {% for key, value in datos.items() %}
	      <tr>
	        <td>{{value['Nombre']}}</td>
	        <td>
	        	<a href="/editarMenu/{{ key }}"><i class="fas fa-edit"></i></a>
	        	<a href="/borrarMenu/{{ key }}"><i class="fas fa-trash"></i></a>
	        </td>
	      </tr>
	      </tr>
	     {%endfor%}
	    </tbody>
	  </table>


{% endblock %}
