{% extends "base.html" %}
{% block content %}

	<h3>Valoraci&oacute;n</h3>
	<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="nombrePlato" class="col-sm-3 control-label">Restaurante</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="nombrePlato" id="nombrePlato" value="{{nombreRestaurante}}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="ingredientes" class="col-sm-3 control-label">Comentario</label>
                <div class="col-sm-6">
			         <textarea rows="5" cols="60" name="text" placeholder=" Comentario "></textarea>
      				<br/>
                </div>
            </div>
			
			<div class="form-group">
                <label for="ingredientes" class="col-sm-3 control-label">Valoraci&oacute;n</label>
                <div class="col-sm-6">
			        <div >
						<span class="fa fa-star" onclick="calificar(this)" style="cursor:pointer" id="1estrella"></span>
						<span class="fa fa-star" onclick="calificar(this)" style="cursor:pointer" id="2estrella"></span>
						<span class="fa fa-star" onclick="calificar(this)" style="cursor:pointer" id="3estrella"></span>
						<span class="fa fa-star" onclick="calificar(this)" style="cursor:pointer" id="4estrella"></span>
						<span class="fa fa-star" onclick="calificar(this)" style="cursor:pointer" id="5estrella"></span>
						<input type="hidden" name="contadorEstrellas" value="" id="contEstrellas">
			        </div>
			    </div>
            </div>
            <div class="custom-file">
	              		<label class="custom-file-label" for="fotoPlato">Puede a&ntilde;adir una imagen al comentario.</label>
	              		<input type="hidden" name="entorno" value="" id="varEntorno">
					    <input type="file" name="fotoPlato" class="custom-file-input" id="logoRestaurante" >
					    <div class="invalid-feedback">Example invalid custom file feedback</div>
			</div>
            <div class="form-group text-center">
                <button type="submit" value="submit" class="btn btn-warning">Enviar</button>
                <!-- <a class="btn btn-danger" href ="/delete">Eliminar</a> -->
            </div>
        </form>
    </div>
</div>

<script>
	var contador;
	function calificar(item){
		contador = item.id[0];
		let nombre = item.id.substring(1);
		
		for (let i=0; i<5; i++){
			if (i<contador){
				document.getElementById((i+1)+nombre).style.color="orange";
			}else {
				document.getElementById((i+1)+nombre).style.color="black";
			}
		}
		
	}

</script>

{% endblock %}
{% block javascript%}
	$("#varEntorno").val(window.location.hostname);
	var contador;
	$(".fa fa-star").click(function(){
		contador = $(this).id[0];
		let nombre = $(this).id.substring(1);
		
		for (let i=0; i<5; i++){
			if (i<contador){
				document.getElementById((i+1)+nombre).style.color="orange";
			}else {
				document.getElementById((i+1)+nombre).style.color="black";
			}
		}
	});
	$("#contEstrellas").val(contador);
{% endblock javascript%}