{% extends "pedidos.html" %}
{% block body %}

	<h3>Pedidos pendientes de entrega</h3>
	{% if datos == None %}
	<h5>No tienes pedidos pendientes</h5>
	{% else %}
	  <table class="table">
	    <thead>
	      <tr>
	        <th>Nombre</th>
	        <th>Acciones</th>
	      </tr>
	    </thead>
	    <tbody>
	    {% for key, value in datos.items() %}
	      <tr>
	        <td>{{value['Pedido']}}</td>
	        <td>
	        	<a href="/borrarPedido key }}"><i class="fas fa-trash"></i></a>
	        </td>
	      </tr>
	      </tr>
	     {%endfor%}
	    </tbody>
	  </table>
	{% endif %}

{% endblock %}
