{% extends "pedidos.html" %}
{% block body %}

	<h3>Pedidos terminados</h3>
	{% if datos == None %}
	<h5>No tienes pedidos terminados</h5>
	{% else %}
	  <table class="table">
	    <thead>
	      <tr>
	        <th>Nombre</th>
	        <th>Acciones</th>
	      </tr>
	    </thead>
	    <tbody>
	    {% for key, value in datos.items() %}
	      <tr>
	      	{% if value['Pedido'] != "Restaurante" %}
	        <td>{% for key in value['Pedido'].keys() %}
	        {%if key != 'Restaurante'%} 
	        {%if key == 'Total'%}
	        <em>{{key}}: {{value['Pedido'][key]}} Eur.</em>
	        {%else%}
	        <em>{{key}}, </em>
	        {%endif%}
	        {%endif%}
	        {%endfor%}
	        </td>
	        <td>
	        	<a href="/borrarPedido/{{ key }}"><i class="fas fa-trash"></i></a>
	        </td>
	      </tr>
	      {% endif %}
	      </tr>
	     {%endfor%}
	    </tbody>
	  </table>
	  {% endif %}


{% endblock %}
