{% extends "base.html" %}
{% block content %}

<div class="row">
	<div class="col-md-2"></div>
	    <div class="col-md-8 text-center">
				
	          <form action="" method="post" enctype="multipart/form-data">
				  <h1 class="">&iexcl;Vaya es la primera vez que entras&excl;</h1>
				  <h3 class="w-100 font-weight-bold" style="color:grey;">Necesitamos datos adicionales para tu cuenta</h3>	           
	              <div>
	               <label data-error="wrong" data-success="right" for="tipoUsuario">Selecciona tu tipo de cuenta</label>
					  <div class="radio">	 
						  <label class="radio-inline"><input type="radio" id="tipo_1" name="tipoUsuario" value="cliente" checked>Cliente</label>
						  <p style="font-style:italic">Si lo que quieres es pedir comida a domicilio, &iexcl;esta es la opci&oacute;n que tienes que elegir&excl;</p>
					  </div>
					  <div class="radio">
					  <label class="radio-inline"><input type="radio" id="tipo_2" name="tipoUsuario" value="restaurante">Restaurante</label>
					  <p style="font-style:italic">Si lo que buscas es poder servir los men&uacute;s de tu restaurante, administrar los pedidos y valoraciones , &iexcl;esta es la opci&oacute;n que tienes que elegir&excl;</p>
					  </div>
				  </div>              
	              <div >
	                <label data-error="wrong" data-success="right" for="direccion">Direcci&oacute;n</label>
	                <input type="text" name="direccion" id="direccion" class="form-control validate">
	              </div>
	              
	              <div style="margin-top:20px">
	                <label data-error="wrong" data-success="right" for="telefono">Tel&eacute;fono</label>
	                <input type="phone" name="telefono" id="telefono" class="form-control validate">
	              </div>
	              
	              <div id="datosRestaurante" style="display:none" >
		              <div style="margin-top:20px">
		                <label data-error="wrong" data-success="right" for="nombreRestaurante">Nombre Restaurante</label>
		                <input type="text" name="nombreRestaurante" id="nombreRestaurante" class="form-control validate">
		              </div>
	                <div style="margin-top:20px">
		                <label data-error="wrong" data-success="right" for="descripcion">Descripci&oacute;n</label>
		                <textarea class="form-control validate" style="resize:none;" rows="5" id="descripcion" name="descripcion"></textarea>
	              	</div>
	              	<div class="form-group" style="margin-top:20px">
	              		<label class="control-label col-sm-12" for="logoRestaurante">Logo del restaurante</label>
	              		<div class="col-sm-12">
					    <input style="margin: 0 auto;" type="file" name="logoRestaurante" class="custom-file-input" id="logoRestaurante" >
					    </div>
					  </div>
	              </div>

				<input type="hidden" name="nombre" id="nombre" value="{{session['nombre']}}">
				<input type="hidden" name="correo" id="correo" value="{{session['correo']}}">
				<input type="hidden" name="id" id="id" value="{{session['id']}}">
				<input type="hidden" name="entorno" value="" id="varEntorno">
	            <div class="d-flex justify-content-center" >
	              <input style="margin-top:20px" type="submit" value="Registrarse" class="btn btn-success">
	            </div>
	
	        </form>
	
	    </div>
    <div class="col-md-2"></div>
</div>
<br/>
<hr color="purple" style="margin-bottom:30px">

<br/>
<br/>


{% endblock content %}

{% block javascript%}
			$("#tipo_1").click(function(){
            	$('#datosRestaurante').fadeOut( "slow");
            });
                
            $("#tipo_2").click(function(){
             	$('#datosRestaurante').fadeIn( "slow");
            });
	        {% if datos%}
              alert("Contraseña equivocada");
            {% endif %}
            $("#varEntorno").val(window.location.hostname);
{% endblock javascript%}
