{% extends "base.html" %}
{% block content %}

	<div class="col-sm-6">
	<h3 id="nombreRestaurante"><strong>{{nombre}}</strong></h3>
	{% for key, value in datos.items() %}
			<ul id="ulListaPedido" class="list-group" style="visibility: visible;">
				<a href="#1" class="list-group-item">
				
					<p id="haPedido" style="visibility: visible;"><strong>{{datos[key]['Correo']}}</strong></p>
					<p id="haPedido" style="visibility: visible;">"{{datos[key]['Texto']}}"</p>
					{% if datos[key]['Foto'] != "img/menu_placeholder2.jpg" %}
	                    	{% set src = value["Foto"] %}
	                    	<img class="img-responsive img-thumbnail imagen_menu" src="{{ src }}">
	                {% endif %}
					<span data-star="{{datos[key]['Clasificacion']}}" class="star" id="fixture" style="visibility: visible;"></span>
				</a>
				
			</ul>
			
	{%endfor%}
	
	</div>



{% endblock %}
{% block javascript %}
	$(function() {
	  function addScore(score, $domElement) {
	    $("<span class='stars-container'>")
	      .addClass("stars-" + score.toString())
	      .text("★★★★★")
	      .appendTo($domElement);
	  }
	  contador = $(".star").attr("data-star");
	  media = contador * 100/5;
	  mediaRound = Math.ceil(media / 10) * 10;
	  console.log(mediaRound);
	  addScore(mediaRound, $("#fixture"));
	});
{% endblock javascript%}
